<!-- <script>
  var global = global || window;

</script>
<mat-toolbar color="primary">
  <h1>
     My Courses 
  </h1>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/map">About</button>
  <button mat-button routerLink="/courses">Courses</button>
  <button mat-button routerLink="/chat">Chat</button>
  <button mat-button routerLink="/statistics">Statistics</button>
</mat-toolbar>
<router-outlet></router-outlet> -->

<script>
  var global = global || window;

</script>

<!-- <h1 background-color: cadetblue>
  Couch University
</h1> -->

<!-- <button mat-button routerLink="/">Home</button>
<button mat-button routerLink="/about">About</button>
<button mat-button routerLink="/courses">Courses</button> -->

<link href='https://fonts.googleapis.com/css?family=Encode Sans Semi Expanded' rel='stylesheet'>
<mat-toolbar color="black">
   <meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<p><b>Dreams online</b>
  <button onclick="location.href='/'" type="button" class="btn success">Home</button>
<button onclick="location.href='/courses'" type="button" class="btn info">Courses</button>
<button onclick="location.href='/map'" type="button" class="btn success">About</button>
<button onclick="location.href='/chat'" type="button" class="btn info">Chat</button>
<button onclick="location.href='/statistics'" type="button" class="btn info">Statistics</button>

</p> 
</body>

</mat-toolbar>
<router-outlet></router-outlet>




