
  
    <!-- /* Fashion */  -->
    <div class="row">

        <div class="column">
      <div class="container">
        <img src="https://images.unsplash.com/photo-1589876518759-5b460cabcc4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" alt="Avatar" class="image">
        <div class="overlay" style="opacity:0.6;">
          <div class="text"><b>Basic sewing</b></div>
        </div>
      </div>
      </div>
      
      <div class="column">
      <div class="container">
          <img src="https://images.unsplash.com/photo-1586216583703-f9017de206b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" alt="Avatar" class="image">
          <div class="overlay" style="opacity:0.6;">
            <div class="text"><b>Clothing repair</b></div>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="container">
            <img src="https://images.unsplash.com/photo-1490707967831-1fd9b48e40e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" alt="Avatar" class="image">
            <div class="overlay" style="opacity:0.6;">
              <div class="text"><b>Evening Dresses</b></div>
            </div>
          </div>
        </div>
    
      </div> 
    
    
          <!-- /* paint */  -->
          <div class="row">
    
            <div class="column">
          <div class="container">
        <img src="https://images.unsplash.com/photo-1485546784815-e380f3297414?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" alt="Avatar" class="image">
        <div class="overlay" style="opacity:0.6;">
          <div class="text"><b>oil colors</b></div>
        </div>
      </div>
      </div>
    
      <div class="column">
      <div class="container">
          <img src="https://images.unsplash.com/photo-1510935813936-763eb6fbc613?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" alt="Avatar" class="image">
          <div class="overlay" style="opacity:0.6;">
            <div class="text"><b>Illustration in pencil</b></div>
          </div>
        </div>
      </div> 
      
       <div class="column">
        <div class="container">
            <img src="https://images.unsplash.com/photo-1567005263627-cf72f785f398?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" alt="Avatar" class="image">
            <div class="overlay" style="opacity:0.6;">
              <div class="text"><b>Computer Painting</b></div>
            </div>
          </div>
        </div>
    
          </div>
    
          
     <!-- /* Photo */  -->
     <div class="row">
    
        <div class="column"> 
       <div class="container">
        <img src="https://images.unsplash.com/photo-1482160549825-59d1b23cb208?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" alt="Avatar" class="image">
        <div class="overlay" style="opacity:0.6;">
          <div class="text"><b>Professional Photoshop</b></div>
        </div>
      </div>
      </div> 
      
      <div class="column">
      <div class="container">
          <img src="https://images.unsplash.com/photo-1494252713559-f26b4bf0b174?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" alt="Avatar" class="image">
          <div class="overlay" style="opacity:0.6;">
            <div class="text"><b>3D design</b></div>
          </div>
        </div>
      </div> 
      
      <div class="column">
        <div class="container">
            <img src="https://images.unsplash.com/photo-1553344518-c44926bebaa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" alt="Avatar" class="image">
            <div class="overlay" style="opacity:0.6;">
              <div class="text"><b>Computerized cartoon</b></div>
            </div>
          </div>
        </div>
      
      
      </div> 
      
      
        
        
      