<p>lesson-add works!</p>
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/courses']">
      <mat-icon>list</mat-icon>
    </a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="lessonForm" (ngSubmit)="onFormSubmit(lessonForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Lesson title" formControlName="title">
        <mat-error>
          <span *ngIf="!lessonForm.get('title').valid && lessonForm.get('title').touched">Please enter Lesson
            Title</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Lesson description" formControlName="description">
        <mat-error>
          <span *ngIf="!lessonForm.get('description').valid && lessonForm.get('description').touched">Please enter
            Lesson Descrption</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!lessonForm.valid" mat-flat-button color="primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
