

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <!-- <div class="card">
    <p>About Us</p>
    <div class="fakeimg" style="height:10px;">
      <img src="https://images.unsplash.com/photo-1522204523234-8729aa6e3d5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" width="fit" height="fit">
  </div>  
  </div> -->
  <!-- <img src="https://images.unsplash.com/photo-1522204523234-8729aa6e3d5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" class="w3-opacity-max" style="width:fit"> -->

  <div class="container">
    <img src="https://images.unsplash.com/photo-1522204523234-8729aa6e3d5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60.jpg" alt="Snow" class="w3-opacity-max" style="width:fit">
    <div class="centered">
        <p>
            HI EVERYONE!
            </p>
        <p>WE ARE HERE AT <b>DREAMS ONLINE</b> HERE TO FULFILL YOUR DREAMS WITHOUT GETTING TO BED».</p>
        <p>IF YOU ARE CREATIVE, CURIOUS, ARTISAN OR JUST WANT TO DO SOMETHING FUN</p>
       <p> YOUR PLACE WITH US!</p>
    </div>
  </div>

  
<div id="map" class="map"  ></div>
<footer>
<!-- Add font awesome icons -->
<button onclick="location.href='https://www.facebook.com/groups/494647317705001/?epa=SEARCH_BOX'" type="button" class="fa fa-facebook"></button>

<button onclick="location.href='https://www.instagram.com/onlinecourses.lb/'" type="button" class="fa fa-instagram"></button>

<button onclick="location.href='https://pin.it/5CMxyZW'" type="button" class="fa fa-pinterest"></button>

<button onclick="location.href='https://www.snapchat.com/'" type="button" class="fa fa-snapchat-ghost"></button>

<b> YOU CAN FIND US ON ALL SOCIAL MEDIA</b>
</footer> 

</body>
</html> 
