.input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blueviolet;
    border-radius: 4px;
    font-size: larger;
    font-family: Encode Sans Semi Expanded;
  }
  .container-fluid{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(122, 103, 14);
    border-radius: 4px;
    font-size: larger;
    font-family: Encode Sans Semi Expanded; 
  }
  .row{width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: larger;
    font-family: Encode Sans Semi Expanded;}

    .row2{width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid rgb(122, 103, 14);
        border-radius: 4px;
        font-size: larger;
        font-family: Encode Sans Semi Expanded;}
        /* Green */
.success {
  color: rgb(122, 103, 14);
  font-size: larger;
  font-family: 'Encode Sans Semi Expanded';
}

.success:hover {
  background-color: rgb(122, 103, 14);
  color: white;
  font-size: larger;
  font-family: 'Encode Sans Semi Expanded';
}
        
        